@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/*-------------------------header-sec---------------------------*/

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ced0d6;
}
.comapany-logo {
  width: 50%;
  padding: 15px 10px 15px 20px;
}

.comapany-logo img {
  width: auto;
  max-width: 100%;
  display: block;
}

.search-icon-menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  padding: 15px 20px 15px 10px;
  gap: 18px;
}

.search-icon img {
  width: 17px;
}

.menu-icon {
  background-color: #dc1414;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon i {
  color: white;
  font-size: 28px;
  line-height: 1px;
  display: block;
  -webkit-text-stroke: 1px;
}

.menu li {
  display: none;
}

.lower-navigation {
  padding: 20px;
}

.online-banking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  border: 1px solid black;
  padding: 12px 35px;
}

.online-banking i {
  font-size: 20px;
}

.online-banking a {
  color: black;
  font-size: 15px;
}

/*-------------------------Main-sec---------------------------*/

/* hero-img */
.main-img {
  height: 200px;
}
.main-img img {
  transform: scaleX(1.6);
  height: 200px;
}

.hero-content {
  background-color: #dc1414;
}

.hero-content .content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 23px;
}

.hero-content .content div {
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  color: #f9c2c2;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.content h2 {
  font-weight: 600;
}
.content .description {
  color: #f9c2c2;
}

.content .learn-btn {
  background-color: white;
  color: black;
  padding: 16px 35px;
}

.Deposit-calculator .contaner .content-Deposit-calculator .form-content div {
  display: flex;
  flex-direction: column;
}

/* banking-section */

.banking-section .contaner {
  display: flex;
  flex-direction: column;
}

.banking-section .contaner .banking-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
