@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/*-------------------------header-sec---------------------------*/

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ced0d6;
}
.comapany-logo {
  width: 50%;
  padding: 15px 10px 15px 20px;
}

.comapany-logo img {
  width: auto;
  max-width: 100%;
  display: block;
}

.search-icon-menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  padding: 15px 20px 15px 10px;
  gap: 18px;
}

.search-icon img {
  width: 17px;
}

.menu-icon {
  background-color: #dc1414;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon i {
  color: white;
  font-size: 28px;
  line-height: 1px;
  display: block;
  -webkit-text-stroke: 1px;
}

.menu li {
  display: none;
}

.lower-navigation {
  padding: 20px;
}

.online-banking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  /* border: 1px solid black; */
  padding: 12px 35px;
}

.online-banking i {
  font-size: 20px;
}

.online-banking a {
  color: black;
  font-size: 15px;
}

/*-------------------------Main-sec---------------------------*/

/* hero-img */
.main-img {
  height: 200px;
}
.main-img img {
  transform: scaleX(1.6);
  height: 200px;
}

.hero-content {
  background-color: #dc1414;
}

.hero-content .content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 23px;
}

.hero-content .content div {
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  color: #f9c2c2;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.content h2 {
  font-weight: 600;
}
.content .description {
  color: #f9c2c2;
}

.content .learn-btn {
  background-color: white;
  color: black;
  padding: 16px 35px;
}

.Deposit-calculator .contaner .content-Deposit-calculator .form-content div {
  display: flex;
  flex-direction: column;
}

/* ====================================== */
/* banking-section */

.banking-section {
  padding: 0px 10px 35px 10px;
}

.banking-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.banking-content div {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.banking-content p {
  color: rgb(170, 171, 176);
  text-align: center;
}

.banking-content h2 {
  font-weight: 600;
  font-size: 22px;
}

.banking-content .description {
  color: rgb(132, 133, 138);
}

.services {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* justify-content: center; */
  /* align-items: center; */
}

.service-item img {
  width: 54px;
  height: 54px;
}

.service-item div h3 {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.card-set-1 {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  gap: 30px;
}

.card-set-2 {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  gap: 30px;
}

.service-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.service-title {
  display: flex;
  gap: 6px;
}

.service-item h3 {
  margin-bottom: 40px;
}

.service-item i {
  color: rgba(59, 58, 58, 0.274);
}

/* ====================================== */
/* products-section */

.products-section {
  padding: 0px 20px;
}

.products-section h2 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 30px;
}

.products-section .container {
  background-color: #f5f5f5;
}

.product-section-content-img {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-section-content-img .content p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #dc1414;
  padding-bottom: 20px;
}

.product-section-content-img h3 {
  font-weight: 400;
}

.view-detail-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 20px;
}

.view-detail-btn a {
  color: black;
}

.view-detail-btn i {
  color: rgba(0, 0, 0, 0.306);
}

.arrow-box {
  display: flex;
  gap: 16px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.arrow-item {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box i {
  color: #111;
  border: 1px solid #ccc;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================================== */
/* credit-card */

.credit-card .container {
  display: flex;
  flex-direction: column;
}

.cerdit-card-image-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.two-images {
  position: relative;
}

.two-images .img-1 {
  height: 320px;
  width: 100%;
  overflow: hidden;
}

.two-images .img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-images .img-2 {
  width: 230px;
  position: absolute;
  right: 1px;
  bottom: -30px;
}

.cerdit-card-lower-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.credit-card-content {
  display: flex;
  flex-direction: column;
}

.credit-card-title {
  color: #aaabb0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 20px 0;
}

.credit-card-content h3 {
  font-size: 22px;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.offer {
  color: #84858a;
  font-size: 15px;
  padding: 0 0 20px 0;
  margin-bottom: 40px;
}

.card-btn {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 35px;
  gap: 10px;
}

.Signature-Card div {
  background-color: #dc1414;
}

.Signature-Card h6 {
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 16px;
  text-align: center;
}

.Platinum-Card div {
  background-color: white;
}

.Platinum-Card h6 {
  color: black;
  font-weight: 300;
  font-size: 14px;
  padding: 16px;
  border: 1px solid #d1cbcb;
  text-align: center;
}

.Reward-Benefits {
  margin-bottom: 20px;
}
.Reward-Benefits div {
  display: flex;
  align-items: center;
}

.Reward-Benefits img {
  width: 20px;
  height: 20px;
}

.Reward-Benefits p {
  color: #a8a8ac;
  padding-left: 15px;
}

.Reward-Benefits li {
  padding: 5px 0;
}

.Discover-more-btn button {
  color: #000000;
  padding: 16px 35px;
  border: 1px solid #84858a;
  margin-top: 20px;
}

/* ====================================== */
/* Mobile app section */

.mobile-app {
  padding: 20px;
}

.content-mobile-app {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;
}
.app-content {
  display: flex;
  flex-direction: column;
}

.mobile-app-title {
  color: #aaabb0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 20px 0;
}

.app-content h3 {
  font-size: 22px;
  padding: 0 0 20px 0;
  font-weight: 500;
}

.content-mobile-app p {
  color: #84858a;
}

.p-sec {
  margin-bottom: 30px;
}

.apple-google-play-logo img {
  display: flex;
  flex-direction: column;
  width: 23px;
  height: 22px;
}

.apple-google-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8cbce;
  background-color: white;
  padding: 16px 35px;
  gap: 10px;
}

.apple-google-img h6 {
  font-size: 14px;
  font-weight: 500;
}

.apple-google-play-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ====================================== */
/* online banking */

.online-banking-heading-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.online-banking-heading-content p {
  color: #aaabb0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 20px 0;
}

.online-banking-heading-content h3 {
  font-size: 22px;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.online-banking-card {
  display: flex;
  padding: 20px;
}

.online-banking-img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.content-banking {
  margin-left: 30px;
}

.content-banking h3 {
  font-weight: 400;
}
.content-banking p {
  font-size: 14px;
  padding-bottom: 15px;
}
.content-banking div {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.content-banking i {
  padding-left: 15px;
  color: #aaabb0;
}

/* ====================================== */
/* deposit calculator */

.deposit-calculator .container {
  padding: 20px;
}

.deposit-calculator-img {
  position: relative;
}

.image-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
}

.image-text h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.image-text p {
  font-size: 15px;
  font-weight: 400;
  color: #aaabb0;
}

.content-Deposit-calculator {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.content-Deposit-calculator p {
  color: #aaabb0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 30px 0;
}

.form-content label {
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
}

.form-content input {
  margin-bottom: 30px;
  border: 1px solid #cecfd6;
  padding: 14px 75px 14px 15px;
}

.submit-app {
  display: flex;
  justify-content: center;
  background-color: #dc1414;
}
.form-content button {
  background-color: #dc1414;
  border: none;
  color: white;
  font-size: 14px;
  padding: 16px 35px;
}

/* ====================================== */
/* News-Stories */

.News-Stories {
  padding: 20px;
}

.News-Stories .container h2 {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.news-story {
  background-color: #f5f5f5;
}

.content-news-story {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content-news-story p {
  font-size: 14px;
  font-weight: 400;
  color: #aaabb0;
  margin-bottom: 15px;
}

.content-news-story h4 {
  color: #191b22;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.read-more-btn {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.read-more-btn a {
  color: black;
}

.read-more-btn i {
  color: #d3d5da;
}

.all-news {
  display: inline-block;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 30px;
}

.all-news a {
  border: 1px solid #111;
  color: #000000;
  font-size: 14px;
  padding: 16px 35px;
}

/* ====================================== */
/* help-center */

.help-center {
  padding: 0px 20px;
  margin-bottom: 35px;
}

.help-center .container {
  display: flex;
  flex-direction: column;
}

.content-help-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.help-title {
  font-size: 14px;
  font-weight: 400;
  color: #aaabb0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.content-help-center h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.content-help-center p {
  color: #848595;
  margin-bottom: 20px;
}

.content-help-center span {
  color: #dc1414;
}
.all-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question p {
  color: #191b4c;
  font-size: 15px;
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
  flex: 1;
}

.question i {
  align-items: center;
  gap: 20px;
}

/* ====================================== */
/* ATM-Foreign-exchange-rate */

.ATM-Foreign-exchange-rate .container {
  padding: 0px 20px;
  margin-bottom: 30px;
}

.atm {
  background-color: #f5f5f5;
}

.atm-content {
  padding: 30px 20px;
}

.atm-content h4 {
  font-size: 17px;
  padding-bottom: 20px;
  font-weight: 400;
}

.atm-content button {
  background-color: #dc1414;
  color: white;
  border: none;
  padding: 16px 35px;
}

.Foreign-exchange-rate {
  border: 1px solid #d3d5da;
  padding: 30px 20px;
}

.Foreign-exchange-rate h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.rates-table {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #d3d5da;
  margin-bottom: 30px;
}

.inner-table {
  padding: 0 10px;
}

.table-content {
  color: #84879d;
  padding: 10px;
}

.table-content h6 {
  font-size: 14px;
  font-weight: 400;
}

.view-more-btn {
  color: #000000;
}

.view-more-btn a {
  color: #000000;
}

/*-------------------------Footer---------------------------*/
/* ATM-Foreign-exchange-rate */

.footer-section {
  background-color: #191b22;
}
.open-account {
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 20px;
}

.open-account h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}
.open-act-btn {
  padding: 20px;
}

.open-account button {
  padding: 16px 35px;
  background-color: #dc1414;
  color: white;
  border: none;
  margin-bottom: 10px;
}
.bank-logo-socialmedia-appstore {
  padding: 0px 20px;
}

.span-border {
  padding: 20px;
}
.span-border span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #43454c;
}

.bank-logo-socialmedia-appstore {
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
}

.logo img {
  width: 202px;
  height: 61px;
}

.social-media-content {
  display: flex;
  margin: 0px 0px 10px;
}
.social-media-content h3 {
  color: #95969a;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 10px;
}

.socail-media-logo {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.socail-media-logo i {
  font-size: 22px;
  color: white;
  gap: 10px;
}

.apple-google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  border: 1px solid #3e3f45;
  color: white;
  margin-bottom: 20px;
}

.apple-google-btn i {
  color: white;
  font-size: 22px;
}
.footer-all-list {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.upper-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.lower-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-all-list h6 {
  font-size: 12px;
  font-weight: 400;
  color: #aaabb0;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer-all-list a {
  font-size: 15px;
  color: white;
}

.footer-all-list li {
  margin-bottom: 18px;
}

.info-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.add-contact ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  color: #8b8a8f;
}

.add-contact p {
  font-size: 12px;
  text-transform: uppercase;
}

.bank-info {
  margin-bottom: 30px;
}

.copyright-sec {
  display: flex;
  flex-direction: column;
  color: #8b8a8f;
  background-color: #191b22;
  font-size: 13px;
  align-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.copyright-sec p {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
}
