@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* HERO */
.hero {
  display: flex;
  height: 400px;
}

.hero-left {
  width: 50%;
  background: red;
  color: white;
  padding: 40px;
}

.hero-right {
  width: 50%;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SERVICES */
.services {
  padding: 50px;
  text-align: center;
}

.service-row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.service {
  border: 1px solid #ccc;
  padding: 20px;
}

/* PRODUCTS */
.products {
  padding: 50px;
}

.product-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
}

.card p {
  padding: 10px;
}
